{% extends "blog/base.html" %}

{% block body_block %}

    <br>
    <div align="center">
        <div class="jumbotron">
            <h1>Welcome to Mini Blogging Website</h1>
            <hr class="my-4">
            <p>Register and login to write your own posts.</p>
            <p>Browser other's post and share your thoughts through comments.</p>
            <p>Overall Have fun!</p>
            <br>
            <small>Made using HTML, Bootstrap and Python's Django Framework</small>
        </div>
    </div>
{% endblock %}