<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Blog</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="{% url "post_list" %}" class="navbar-brand">Blog</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url "about_page" %}" class="nav-link">About</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                {% if user.is_authenticated %}

                    <li class="nav-item active">
                        <a href="{% url "draft_list" %}" class="nav-link">View Drafts</a>
                    </li>

                    <li class="nav-item active">
                        <a href="{% url "create_post" %}" class="nav-link">New Post</a>
                    </li>
    
                    <li class="nav-item active">
                        <a href="{% url "logout_user" %}" class="nav-link">Logout</a>
                    </li>

                    <li class="nav-item active">
                        <span class="nav-link">Welcome {{user.first_name}}</span>
                    </li>
                
                {% else %}

                    <li class="nav-item active">
                        <a href="{% url "login_user" %}" class="nav-link">Login</a>
                    </li>
                    
                    <li class="nav-item active">
                        <a href="{% url "create_user" %}" class="nav-link">Register</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>